<!-- App pagination -->
<nav class="app-pagination text-center">
  <ul class="pagination">
    <li>
      <a (click)="prev()" aria-label="Previous">
        <span aria-hidden="true">{{'Předchozí' | translate}}</span>
      </a>
    </li>
    <li *ngFor="let p of pages" class.active="current === p"><a (click)="gotoPage(p)">{{p}}</a></li>
    <li>
      <a (click)="next()" aria-label="Next">
        <span aria-hidden="true">{{'Další' | translate}}</span>
      </a>
    </li>
  </ul>
</nav><!--/.app-pagination -->