/searchapp/target/
/searchapp/src/main/ng-client/nbproject/private/
/searchapp/src/main/webapp/assets/
/magazines/src/main/ngClient/nbproject/private/
/magazines/target/
/searchapp/src/main/ngClient/package-lock.json
/searchapp/src/main/ng5/nbproject/private/
