<section class="app-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="cokoliv">
            <div class="app-section app-section-search-form">
              <div class="app-item">
                <div class="app-col-left">
                  <ul class="list-unstyled app-clean-mg app-select">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">kdekoliv <span class="caret"></span></a>
                      <ul class="dropdown-menu app-clean-border">
                        <li><a href="#">v autorech</a></li>
                        <li><a href="#">v článcích</a></li>
                        <li><a href="#">v rubrice</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!--/.col -->
                <div class="app-col-middle">
                  <input type="text" class="form-control" placeholder="Vyhledávejte slova, články, rubriky, autory...">
                </div>
                <!--/.col -->
                <div class="app-col-right text-right">
                  <ul class="list-unstyled app-clean-mg app-select">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">a zároveň <span class="caret"></span></a>
                      <ul class="dropdown-menu app-clean-border">
                        <li><a href="#">nebo</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!--/.col -->
                <div class="app-col-close">
                  <button class="btn app-btn app-btn-ico app-ico-20-20 app-ico-pink-hover">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <title>zavrit</title>
                      <path d="M385,362a10,10,0,1,0,10,10A10,10,0,0,0,385,362Zm6.21,14.79-1.41,1.41-4.54-4.54-4.54,4.54-1.41-1.41,4.54-4.54-4.54-4.54,1.41-1.41,4.54,4.54,4.54-4.54,1.41,1.41-4.54,4.54Z" transform="translate(-375 -362)"/>
                    </svg>
                  </button>
                </div><!--/.col -->
              </div><!--/.app-item -->
              <div class="app-item">
                <div class="app-col-left">
                  <ul class="list-unstyled app-clean-mg app-select">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">kdekoliv <span class="caret"></span></a>
                      <ul class="dropdown-menu app-clean-border">
                        <li><a href="#">v autorech</a></li>
                        <li><a href="#">v článcích</a></li>
                        <li><a href="#">v rubrice</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!--/.col -->
                <div class="app-col-middle">
                  <input type="text" class="form-control" placeholder="Vyhledávejte slova, články, rubriky, autory...">
                </div><!--/.col -->
                <div class="app-col-right text-right">
                  <ul class="list-unstyled app-clean-mg app-select">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">a zároveň <span class="caret"></span></a>
                      <ul class="dropdown-menu app-clean-border">
                        <li><a href="#">nebo</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!--/.col -->
                <div class="app-col-close">
                  <button class="btn app-btn app-btn-ico app-ico-20-20 app-ico-pink-hover">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <title>zavrit</title>
                      <path d="M385,362a10,10,0,1,0,10,10A10,10,0,0,0,385,362Zm6.21,14.79-1.41,1.41-4.54-4.54-4.54,4.54-1.41-1.41,4.54-4.54-4.54-4.54,1.41-1.41,4.54,4.54,4.54-4.54,1.41,1.41-4.54,4.54Z" transform="translate(-375 -362)"/>
                    </svg>
                  </button>
                </div><!--/.col -->
              </div><!--/.app-item -->
              <div class="app-item">
                <div class="app-col-left">
                  <ul class="list-unstyled app-clean-mg app-select">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">kdekoliv <span class="caret"></span></a>
                      <ul class="dropdown-menu app-clean-border">
                        <li><a href="#">v autorech</a></li>
                        <li><a href="#">v článcích</a></li>
                        <li><a href="#">v rubrice</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!--/.col -->
                <div class="app-col-middle">
                  <input type="text" class="form-control" placeholder="Vyhledávejte slova, články, rubriky, autory...">
                </div><!--/.col -->
                <div class="app-col-right text-right">
                  <button class="btn app-btn app-btn-square app-ico-white app-ico-brand-hover app-ico-36-36 app-clean-radius">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1">
                      <title>lupa</title>
                      <path d="M523.44,392.24l-5.53-5.53a10.64,10.64,0,0,1-3.2,3.2l5.53,5.53a2.26,2.26,0,0,0,3.2-3.2h0Z" transform="translate(-500 -372)"/>
                      <path d="M518.08,381a9,9,0,1,0-9,9,9,9,0,0,0,9-9h0Zm-9,6.78a6.78,6.78,0,1,1,6.78-6.78,6.79,6.79,0,0,1-6.78,6.78h0Z" transform="translate(-500 -372)"/>
                      <path d="M503.77,381h1.51a3.77,3.77,0,0,1,3.77-3.77v-1.51a5.28,5.28,0,0,0-5.27,5.27h0Z" transform="translate(-500 -372)"/>
                    </svg>
                  </button>
                </div><!--/.col -->
                <div class="app-col-close">
                  &#160;
                </div><!--/.col -->
              </div><!--/.app-item -->
            </div><!--/.app-section -->
            <div class="app-section">
              <div class="row">
                <div class="col-xs-6">
                  <button class="btn app-btn app-btn-transparent app-ico-21-17 app-font-20 app-ico-svg-two">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                      <title>pridat</title>
                      <path d="M339,406h-6v6h-2v-6h-6v-2h6v-6h2v6h6v2Z" transform="translate(-325 -398)"/>
                    </svg>
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                      <title>pridat_over</title>
                      <path d="M323,396v18h18V396H323Zm16,10h-6v6h-2v-6h-6v-2h6v-6h2v6h6v2Z" transform="translate(-323 -396)"/>
                    </svg>
                    přidat kritérium
                  </button>
                </div><!--/.col -->
                <div class="col-xs-6 text-right">
                  <button class="btn app-btn app-btn-transparent app-ico-24-25 app-font-20 app-ico-svg-two">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.86 28.53">
                      <title>vymazat</title>
                      <path d="M321.52,413.8H319.7a0.7,0.7,0,1,0,0,1.41h1.82A0.7,0.7,0,1,0,321.52,413.8Z" transform="translate(-319 -390.47)"/>
                      <path d="M323.54,416.51l-1.29,1.29a0.7,0.7,0,1,0,1,1l1.29-1.29A0.7,0.7,0,0,0,323.54,416.51Z" transform="translate(-319 -390.47)"/>
                      <path d="M345.16,414.15H332.82l12.63-12.63a1.41,1.41,0,0,0,0-2l-8.64-8.64a1.41,1.41,0,0,0-2,0L321,404.7a4.22,4.22,0,0,0,0,6l4.16,4.16a2.45,2.45,0,0,0,1.74.72h18.26A0.7,0.7,0,0,0,345.16,414.15Zm-18.26,0a1,1,0,0,1-.75-0.31L322,409.68a2.82,2.82,0,0,1,0-4l2.26-2.26,7.43,7.43a0.7,0.7,0,0,0,1-1l-7.43-7.43,10.56-10.56,8.64,8.64-13.63,13.63H326.9Z" transform="translate(-319 -390.47)"/>
                    </svg>
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.86 28.53">
                      <title>vymyzat_over</title>
                      <path d="M321.52,414.33H319.7a0.7,0.7,0,0,0,0,1.41h1.82A0.7,0.7,0,1,0,321.52,414.33Z" transform="translate(-319 -391)"/>
                      <path d="M323.54,417l-1.29,1.29a0.7,0.7,0,1,0,1,1l1.29-1.29A0.7,0.7,0,0,0,323.54,417Z" transform="translate(-319 -391)"/>
                      <path d="M345.16,415H332.82l12.63-12.79a1.78,1.78,0,0,0,0-2.28L336.81,391h-2L321,405a4.44,4.44,0,0,0-1.24,3.09,4.32,4.32,0,0,0,1.24,3l4.16,4.15a2.43,2.43,0,0,0,1.74.7h18.26c0.39,0,.7-0.11.7-0.5S345.55,415,345.16,415Zm-13-3.4a0.7,0.7,0,0,1-.5-0.21L324.25,404l1-1,7.43,7.43A0.7,0.7,0,0,1,332.18,411.6Z" transform="translate(-319 -391)"/>
                    </svg>
                    vymazat formulář
                  </button>
                </div><!--/.col -->
              </div><!--/.row -->
            </div><!--/.app-section -->
            <div class="app-section app-section-slider app-brand lighten-6">
              <div class="row">
                <div class="col-xs-12">
                  <input type="checkbox" />
                  <label>pouze v recenzovaných článcích</label>
                </div><!--/.col -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                  <form class="form-inline">
                    <div class="form-group">
                      <label>Datum publikování:</label> od roku <input type="text" class="form-control"> do roku <input type="text" class="form-control">
                    </div>
                  </form>
                </div><!--/.col -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                  <div id="slider"></div>
                </div><!--/.col -->
              </div><!--/.row -->
            </div><!--/.app-section -->
            <div class="app-section app-sort-headline">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h2 class="app-font-s42 app-clean-mg">Výsledky vyhledávání</h2>
                </div><!--/.col -->
                <div class="col-xs-12 col-sm-6">
                  <ul class="list-unstyled app-select">
                    <li>Výsledky řadit:</li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">od nejnovějších <span class="caret"></span></a>
                      <ul class="dropdown-menu app-clean-border">
                        <li><a href="#">od nejstarších</a></li>
                        <li><a href="#">dle relevance</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!--/.col -->
              </div><!--/.row -->
              <hr />
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  Zobrazeny výsledky: <span class="app-font-roboto-cb">11 – 20</span> z celkového počtu <span class="app-font-roboto-cb">48</span>
                </div><!--/.col -->
                <div class="col-xs-12 col-sm-6">
                  Počet výsledků na stránku:
                  <nav class="app-nav-items">
                    <ul class="list-unstyled app-brand-text app-font-roboto-cb">
                      <li class="active"><a href="">10</a></li>
                      <li><a href="">20</a></li>
                      <li><a href="">30</a></li>
                    </ul>
                  </nav>
                </div><!--/.col -->
              </div><!--/.row -->
            </div><!--/.app-section -->
            <div class="app-section app-section-results">
              <div class="app-item">
                2014, ročník 7, číslo 1, s. 68-99
                <h3 class="app-brand-text app-font-pt-serif">Curabitur scelerisque enim in tellus vulputate</h3>
                  Jan Munzar
              </div><!--/.app-item -->
              <div class="app-item">
                2014, ročník 7, číslo 1, s. 68-99
                <h3 class="app-brand-text app-font-pt-serif">Curabitur scelerisque enim in tellus vulputate</h3>
                  Jan Munzar
              </div><!--/.app-item -->
              <div class="app-item">
                2014, ročník 7, číslo 1, s. 68-99
                <h3 class="app-brand-text app-font-pt-serif">Curabitur scelerisque enim in tellus vulputate</h3>
                  Jan Munzar
              </div><!--/.app-item -->
              <hr />
            </div><!--/.app-section -->
            <!-- App pagination -->
            <nav class="app-pagination text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Předchozí</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Další</span>
                  </a>
                </li>
              </ul>
            </nav><!--/.app-pagination -->
          </div><!--/.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="rejstrik-autoru">
            <div class="app-section app-section-search-form app-section-search-form-full">
              <div class="app-item">
                <div class="app-col-left">
                  <input id="app-search-authors" type="text" class="form-control" placeholder="Vyhledávejte slova, články, rubriky, autory..." data-provide="typeahead" autocomplete="off">
                </div>
                <!--/.col -->
                <div class="app-col-right">
                  <button class="btn app-btn app-btn-square app-ico-white app-ico-brand-hover app-ico-36-36 app-clean-radius">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1">
                      <title>lupa</title>
                      <path d="M523.44,392.24l-5.53-5.53a10.64,10.64,0,0,1-3.2,3.2l5.53,5.53a2.26,2.26,0,0,0,3.2-3.2h0Z" transform="translate(-500 -372)"/>
                      <path d="M518.08,381a9,9,0,1,0-9,9,9,9,0,0,0,9-9h0Zm-9,6.78a6.78,6.78,0,1,1,6.78-6.78,6.79,6.79,0,0,1-6.78,6.78h0Z" transform="translate(-500 -372)"/>
                      <path d="M503.77,381h1.51a3.77,3.77,0,0,1,3.77-3.77v-1.51a5.28,5.28,0,0,0-5.27,5.27h0Z" transform="translate(-500 -372)"/>
                    </svg>
                  </button>
                </div><!--/.col -->
              </div><!--/.app-item -->
            </div><!--/.app-section -->
            <div class="app-section">
              <nav class="app-nav-items">
                <ul class="list-unstyled app-brand-text app-font-pt-serif app-font-s30">
                  <li class="active"><a href="#" class="active" title="">A</a></li>
                  <li><a href="#" title="">B</a></li>
                  <li><a href="#" title="">C</a></li>
                  <li><a href="#" title="">D</a></li>
                  <li><a href="#" title="">E</a></li>
                  <li><a href="#" title="">F</a></li>
                  <li><span class="app-brand-text text-lighten-2">G</span></li>
                  <li><a href="#" title="">H</a></li>
                  <li><a href="#" title="">I</a></li>
                  <li><a href="#" title="">J</a></li>
                  <li><a href="#" title="">K</a></li>
                  <li><a href="#" title="">L</a></li>
                  <li><a href="#" title="">M</a></li>
                  <li><a href="#" title="">N</a></li>
                  <li><a href="#" title="">O</a></li>
                  <li><a href="#" title="">P</a></li>
                  <li><span class="app-brand-text text-lighten-2">Q</span></li>
                  <li><a href="#" title="">R</a></li>
                  <li><a href="#" title="">S</a></li>
                  <li><a href="#" title="">T</a></li>
                  <li><a href="#" title="">U</a></li>
                  <li><a href="#" title="">V</a></li>
                  <li><a href="#" title="">W</a></li>
                  <li><span class="app-brand-text text-lighten-2">X</span></li>
                  <li><span class="app-brand-text text-lighten-2">Y</span></li>
                  <li><a href="#" title="">Z</a></li>
                </ul>
              </nav>
            </div><!--/.app-section -->
            <div class="app-section app-font-pt-serif app-brand-text">
              <div class="row">
                <div class="col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                  </ul>
                </div><!--/.col -->
                <div class="col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                    <li><a href="#" title="">Albrech Jan</a></li>
                    <li><a href="#" title="">Amaroun Václav</a></li>
                    <li><a href="#" title="">Antalová Jiřina</a></li>
                    <li><a href="#" title="">Abdigal Jiří</a></li>
                  </ul>
                </div><!--/.col -->
              </div><!--/.row -->
            </div><!--/.app-section -->
            <!-- App pagination -->
            <nav class="app-pagination text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Předchozí</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Další</span>
                  </a>
                </li>
              </ul>
            </nav><!--/.app-pagination -->
          </div><!--/.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="rubriky">
            <div class="app-section app-section-search-form app-section-search-form-full">
              <div class="app-item">
                <div class="app-col-left">
                  <input id="app-search-sections" type="text" class="form-control" placeholder="Vyhledávejte slova, články, rubriky, autory..." data-provide="typeahead" autocomplete="off">
                </div>
                <!--/.col -->
                <div class="app-col-right">
                  <button class="btn app-btn app-btn-square app-ico-white app-ico-brand-hover app-ico-36-36 app-clean-radius">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1">
                      <title>lupa</title>
                      <path d="M523.44,392.24l-5.53-5.53a10.64,10.64,0,0,1-3.2,3.2l5.53,5.53a2.26,2.26,0,0,0,3.2-3.2h0Z" transform="translate(-500 -372)"/>
                      <path d="M518.08,381a9,9,0,1,0-9,9,9,9,0,0,0,9-9h0Zm-9,6.78a6.78,6.78,0,1,1,6.78-6.78,6.79,6.79,0,0,1-6.78,6.78h0Z" transform="translate(-500 -372)"/>
                      <path d="M503.77,381h1.51a3.77,3.77,0,0,1,3.77-3.77v-1.51a5.28,5.28,0,0,0-5.27,5.27h0Z" transform="translate(-500 -372)"/>
                    </svg>
                  </button>
                </div><!--/.col -->
              </div><!--/.app-item -->
            </div><!--/.app-section -->
            <div class="app-section app-font-pt-serif app-brand-text">
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <ul class="list-unstyled app-marked-item">
                    <li><a href="#" title="">Články</a></li>
                    <li><a href="#" title="">Editorialy</a></li>
                    <li><a href="#" title="">Studie</a></li>
                    <li><a href="#" title="">Diskuze</a></li>
                    <li><a href="#" title="">Recenze</a></li>
                    <li><a href="#" title="">Varia</a></li>
                    <li><a href="#" title="">Zprávy</a></li>
                    <li><a href="#" title="">Zprávy o projektech, materiály</a></li>
                    <li><a href="#" title="">Týden vědy a techniky v KNAV</a></li>
                    <li><a href="#" title="">Výběr studií z časopisů, ročenek a sborníků</a></li>
                    <li><a href="#" title="">Adresář</a></li>
                  </ul>
                </div><!--/.col -->
              </div><!--/.row -->
            </div><!--/.app-section -->
          </div><!--/.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="rejstrik-klicovych-slov">
            <div class="app-section app-section-search-form app-section-search-form-full">
              <div class="app-item">
                <div class="app-col-left">
                  <input id="app-search-key-words" type="text" class="form-control" placeholder="Vyhledávejte slova, články, rubriky, autory..." data-provide="typeahead" autocomplete="off">
                </div>
                <!--/.col -->
                <div class="app-col-right">
                  <button class="btn app-btn app-btn-square app-ico-white app-ico-brand-hover app-ico-36-36 app-clean-radius">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1">
                      <title>lupa</title>
                      <path d="M523.44,392.24l-5.53-5.53a10.64,10.64,0,0,1-3.2,3.2l5.53,5.53a2.26,2.26,0,0,0,3.2-3.2h0Z" transform="translate(-500 -372)"/>
                      <path d="M518.08,381a9,9,0,1,0-9,9,9,9,0,0,0,9-9h0Zm-9,6.78a6.78,6.78,0,1,1,6.78-6.78,6.79,6.79,0,0,1-6.78,6.78h0Z" transform="translate(-500 -372)"/>
                      <path d="M503.77,381h1.51a3.77,3.77,0,0,1,3.77-3.77v-1.51a5.28,5.28,0,0,0-5.27,5.27h0Z" transform="translate(-500 -372)"/>
                    </svg>
                  </button>
                </div><!--/.col -->
              </div><!--/.app-item -->
            </div><!--/.app-section -->
            <div class="app-section">
              <nav class="app-nav-items">
                <ul class="list-unstyled app-brand-text app-font-pt-serif app-font-s30">
                  <li><a href="#" class="active" title="">A</a></li>
                  <li><a href="#" title="">B</a></li>
                  <li><a href="#" title="">C</a></li>
                  <li><a href="#" title="">D</a></li>
                  <li><a href="#" title="">E</a></li>
                  <li><a href="#" title="">F</a></li>
                  <li><span class="app-brand-text text-lighten-2">G</span></li>
                  <li class="active"><a href="#" title="">H</a></li>
                  <li><a href="#" title="">I</a></li>
                  <li><a href="#" title="">J</a></li>
                  <li><a href="#" title="">K</a></li>
                  <li><a href="#" title="">L</a></li>
                  <li><a href="#" title="">M</a></li>
                  <li><a href="#" title="">N</a></li>
                  <li><a href="#" title="">O</a></li>
                  <li><a href="#" title="">P</a></li>
                  <li><span class="app-brand-text text-lighten-2">Q</span></li>
                  <li><a href="#" title="">R</a></li>
                  <li><a href="#" title="">S</a></li>
                  <li><a href="#" title="">T</a></li>
                  <li><a href="#" title="">U</a></li>
                  <li><a href="#" title="">V</a></li>
                  <li><a href="#" title="">W</a></li>
                  <li><span class="app-brand-text text-lighten-2">X</span></li>
                  <li><span class="app-brand-text text-lighten-2">Y</span></li>
                  <li><a href="#" title="">Z</a></li>
                </ul>
              </nav>
            </div><!--/.app-section -->
            <div class="app-section app-font-pt-serif app-brand-text">
              <div class="row">
                <div class="col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="#" title="">hackingly</a></li>
                    <li><a href="#" title="">haggish</a></li>
                    <li><a href="#" title="">hagiocracy</a></li>
                    <li><a href="#" title="">hamiltonian</a></li>
                    <li><a href="#" title="">hamiticized</a></li>
                    <li><a href="#" title="">harbourside</a></li>
                    <li><a href="#" title="">hardball</a></li>
                    <li><a href="#" title="">having</a></li>
                    <li><a href="#" title="">headily</a></li>
                    <li><a href="#" title="">headreach</a></li>
                    <li><a href="#" title="">heartfelt</a></li>
                    <li><a href="#" title="">hekate</a></li>
                    <li><a href="#" title="">heliast</a></li>
                    <li><a href="#" title="">hellenistically</a></li>
                    <li><a href="#" title="">heracliteanism</a></li>
                    <li><a href="#" title="">hexadic</a></li>
                    <li><a href="#" title="">hiker</a></li>
                  </ul>
                </div><!--/.col -->
                <div class="col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="#" title="">hiss</a></li>
                    <li><a href="#" title="">histomorphologically</a></li>
                    <li><a href="#" title="">hob</a></li>
                    <li><a href="#" title="">hocussing</a></li>
                    <li><a href="#" title="">holohedral</a></li>
                    <li><a href="#" title="">horeb</a></li>
                    <li><a href="#" title="">hornlike</a></li>
                    <li><a href="#" title="">hosannaing</a></li>
                    <li><a href="#" title="">hotelman</a></li>
                    <li><a href="#" title="">housekeeperlike</a></li>
                    <li><a href="#" title="">humidor</a></li>
                    <li><a href="#" title="">humulone</a></li>
                    <li><a href="#" title="">hurst</a></li>
                    <li><a href="#" title="">huzzah</a></li>
                    <li><a href="#" title="">hydrastinine</a></li>
                    <li><a href="#" title="">hydriodic</a></li>
                    <li><a href="#" title="">hyperbolizing</a></li>
                  </ul>
                </div><!--/.col -->
              </div><!--/.row -->
            </div><!--/.app-section -->
            <!-- App pagination -->
            <nav class="app-pagination text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Předchozí</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Další</span>
                  </a>
                </li>
              </ul>
            </nav><!--/.app-pagination -->
          </div><!--/.tab-pane -->
        </div><!--/.tab-content -->
      </div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.container -->
</section><!--/.app-content -->