<section class="app-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Amin page</h3>
        <hr />
        <div class="row">
          <div class="col-xs-3">
            <ul class="list-unstyled app-admin-nav">
              <li role="app-page-nav"  *ngFor="let m of menu" ><strong><a>{{'menu.'+m.label+'_' | translate}}</a></strong>
                <ul class="nav-pills nav-stacked">
                  <li role="app-page-nav"  *ngFor="let m1 of m.menu" [class.active]="selected === m1.route">
                      <a  (click)="select(m1)">{{'menu.'+m.label+'.'+m1.route+'_' | translate}}</a> <input type="checkbox" [checked]="m1.visible" />
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.col -->
          <div class="col-xs-9">
            <form class="clearfix">
              <textarea class="form-control" rows="28" [(ngModel)]="text" name="text"></textarea>
              <div class="form-inline pull-left">
                <div class="form-group">
                  <input type="text" class="form-control" id="uuid" placeholder="uuid">
                </div>
                <button type="submit" class="btn app-btn app-btn-default">Indexovat uuid</button>
              </div>
              <button class="btn app-btn app-btn-default app-btn-inverse pull-right" (click)="save()">{{'SAVE' | translate}}</button>
            </form><!--/.clearfix -->
          </div><!--/.col -->
        </div><!--/.row -->
      </div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.container -->
</section>