<section class="app-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Amin page</h3>
        <div class="row">
          <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
              <li role="app-page-nav" class="active"><a href="#">Home</a></li>
              <li role="app-page-nav"><a href="#">Editor</a></li>
              <li role="app-page-nav"><a href="#">Open Access</a></li>
              <li role="app-page-nav"><a href="#">Join database</a></li>
            </ul>
          </div><!--/.col -->
          <div class="col-xs-9">
            <form class="clearfix">
              <textarea class="form-control" rows="28"></textarea>
              <div class="form-inline pull-left">
                <div class="form-group">
                  <input type="text" class="form-control" id="uuid" placeholder="uuid">
                </div>
                <button type="submit" class="btn app-btn app-btn-default">Indexovat uuid</button>
              </div>
              <button class="btn app-btn app-btn-default app-btn-inverse pull-right">SAVE CODE</button>
            </form><!--/.clearfix -->
          </div><!--/.col -->
        </div><!--/.row -->
      </div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.container -->
</section>