<mz-collapsible [mode]="'expandable'">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <strong>Aktivni filtry</strong>
      <i mz-icon-mdi [icon]="'close-circle'" [class]="'app-clean-mg'"></i>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <mz-collection>
        <mz-collection-item>
          Filter 1
          <i mz-icon-mdi [icon]="'close'" [class]="'app-clean-mg app-cursor-pointer right red-text'"></i>
        </mz-collection-item>
        <mz-collection-item>
          Filter 2
          <i mz-icon-mdi [icon]="'close'" [class]="'app-clean-mg app-cursor-pointer right red-text'"></i>
        </mz-collection-item>
      </mz-collection>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>


<mz-collapsible [mode]="'expandable'">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <strong>Přístup</strong>
      <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
      <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <mz-collection>
        <mz-collection-item>item - 1</mz-collection-item>
        <mz-collection-item>item - 2</mz-collection-item>
      </mz-collection>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <strong>Oblast (sekce AV)</strong>
      <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
      <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <mz-collection>
        <mz-collection-item>item - 1</mz-collection-item>
        <mz-collection-item>item - 2</mz-collection-item>
      </mz-collection>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>