// --- HEADER ---

app-header {
  nav {
    margin-bottom: 20px;
    @extend .z-depth-0;
    
    .brand-logo {
      font-size: 1.6rem;

      span {
        font-weight: 100;
        &+span {
          font-weight: 300;
        }
      }
    }
  }
}