<div class="container">
  <div class="row">
    <div class="col s12">
      <h5>Kontakt</h5>
      <span class="grey-text text-darken-1">
        <p>
          <strong>Knihovna AV ČR, v. v. i.</strong><br />
          Národní 3, 115 22 Praha 1<br />
          <a href="http://www.knav.cz" title="Knihovna AV ČR, v. v. i." target="_blank">www.knav.cz</a> 
        </p>
        <p>
          Pro více informací a možnosti zapojení využijte prosím následující kontakt:<br />
          <a href="mailto:dlib@lib.cas.cz" title="Napište nám">dlib@lib.cas.cz</a>
        </p>
      </span>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.container -->