<div class="container">
  <div class="row">
    <div class="col s12">
      <h5>O projektu</h5>
      <span class="grey-text text-darken-1">
        <p>
          Nacházíte se na úvodním webu projektu Digitální knihovna AV ČR – online časopisy. Ze stránky Seznam časopisů lze navštívit weby všech časopisů, které jsou do projektu zapojeny.
        </p>
        <p>
          Webové stránky pro online časopisy jsou nástrojem pro prezentaci obsahu odborných periodik. Jelikož jeho nedílnou součástí je možnost prohlížení plných textů ve formátu PDF, je toto řešení vhodné zejména pro časopisy, které fungují v publikačním režimu Open Access. Tedy pro ta periodika, která nabízejí kromě prezentace časopisu a informací o něm, také volný přístup k jeho obsahu. Zapojit se však mohou i ostatní časopisy.
        </p>
        <p>
          Prostřednictvím těchto webových stránek mohou časopisy prezentovat svůj nejnovější obsah mnohem širšímu okruhu uživatelů, než pouze přes web časopisu nebo pouze přes některou z digitálních knihoven. Oproti klasickým webovým stránkám má toto řešení propracovanější vyhledávací a zobrazovací rozhraní. Na rozdíl od prohlížení v digitální knihovně navíc dostane uživatel také podrobné informace o časopisu.
        </p>
        <p>
          Web každého časopisu může být barevně upraven, například podle hlavní barvy obálky daného časopisu. Takto se od sebe časopisy vzájemně odliší a zároveň zůstává rozhraní stejné, což je velká výhoda hlavně pro uživatele.
        </p>
        <p>
          Obsah časopisu je v rámci celého webu zpracován na úroveň článku. Při vyhledávání, prohlížení, stahování apod. je tedy základní jednotkou článek. Poněvadž jde o nadstavbu Digitální knihovny AV ČR, spravovanou v systému Kramerius, potřebná metadata ke všem úrovním časopisu (periodikum, ročník, číslo, článek) se automaticky stahují odsud a není tedy třeba je opětovně pracně vytvářet. 
        </p>
        <p>
          Pro více informací a možnosti zapojení využijte prosím následující kontakt: <a href="mailto:dlib@lib.cas.cz" title="Napište nám">dlib@lib.cas.cz</a>
        </p>
      </span>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.container -->