<mz-collapsible [mode]="'expandable'">
  <mz-collapsible-item [active]="true" *ngFor="let facet of facets">
    <mz-collapsible-item-header>
      <strong>{{facet.title}}</strong>
      <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
      <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <mz-collection>
        <mz-collection-item *ngFor="let facetItem of facet.items">
          <a>{{facetItem.item}}</a>
        </mz-collection-item>
      </mz-collection>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>